# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Generated outputs
outputs/*

# Keep output folder
!outputs/.gitkeep

# OS files
.DS_Store
Thumbs.db